// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
	--ion-color-primary: #9800eb;
	--ion-color-primary-rgb: 152,0,235;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #8600cf;
	--ion-color-primary-tint: #a21aed;

	--ion-color-secondary: #075288;
	--ion-color-secondary-rgb: 7,82,136;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #064878;
	--ion-color-secondary-tint: #206394;

	--ion-color-tertiary: #b11b39;
	--ion-color-tertiary-rgb: 177,27,57;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #9c1832;
	--ion-color-tertiary-tint: #b9324d;

	--ion-color-success: #137311;
	--ion-color-success-rgb: 19,115,17;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #11650f;
	--ion-color-success-tint: #2b8129;

	--ion-color-warning: #e5b71f;
	--ion-color-warning-rgb: 229,183,31;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #caa11b;
	--ion-color-warning-tint: #e8be35;

	--ion-color-danger: #000000;
	--ion-color-danger-rgb: 0,0,0;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #000000;
	--ion-color-danger-tint: #1a1a1a;

	--ion-color-light: #f6f8fc;
	--ion-color-light-rgb: 246,248,252;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d8dade;
	--ion-color-light-tint: #f7f9fc;

	--ion-color-medium: #7300ff;
	--ion-color-medium-rgb: 115,0,255;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #6500e0;
	--ion-color-medium-tint: #811aff;

	--ion-color-dark: #fd08c7;
	--ion-color-dark-rgb: 253,8,199;
	--ion-color-dark-contrast: #000000;
	--ion-color-dark-contrast-rgb: 0,0,0;
	--ion-color-dark-shade: #df07af;
	--ion-color-dark-tint: #fd21cd;

}